<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Company</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: antiquewhite;">
  <ion-slides effect="fade" (ionSlideWillChange)="onSlideChanged()" pager="true" paginationType="bullets"
              *ngIf="deviceType == 'mobile'">
    <ion-slide *ngFor="let slide of allSlides" class="swiper-no-swiping"
               [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')', 'background-size': 'cover'}"></ion-slide>
    <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < allSlides.length-1" class="swiper-button-next swiper-button-white"
         (click)="nextSlide()"></div>
  </ion-slides>

  <ion-slides effect="fade" (ionSlideWillChange)="onSlideChanged()" loop="true" autoplay="2000" pager="true"
              paginationType="bullets"
              *ngIf="deviceType == 'large'">
    <ion-slide *ngFor="let slide of allSlides" class="swiper-no-swiping"
               [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')', 'background-size': 'cover'}"></ion-slide>
    <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < allSlides.length-1" class="swiper-button-next swiper-button-white"
         (click)="nextSlide()"></div>
  </ion-slides>

  <br>

  <br>
  <!--Basic: auto-select the icon based on the platform -->
  <div class="row">
    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="add-circle" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Home Page</div>
    </div>
    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="body" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Blog Page</div>
    </div>

    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="car" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Blog Page</div>
    </div>

    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="bowtie" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Blog Page</div>
    </div>

    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="football" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Blog Page</div>
    </div>
    <div class="nav-item">
      <button class="nav-button" item-right clear (click)='goHome($event)'>
        <ion-icon name="infinite" style="zoom:4.0; color: cadetblue"></ion-icon>
      </button>
      <div>Dene Page</div>
    </div>

  </div>

</ion-content>

